@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    scroll-behavior: smooth;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
a.back{
    position: fixed;
    bottom: 50px;
    right: 50px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    margin-top: 30px;
    color: #ddabbc;
    
}
h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}
.title-main {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin: 60px 0;
    color: #ddabbc;
}

a {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    color: #ddabbc;
}

a:hover{
    background-color: crimson;
    color: white;
}
.nav-bar .menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 60px;
           
}

.nav-bar {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
time {
    color: #777;
}
section {
    margin: 80px;
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
}
section:hover {
    box-shadow: 0px 0px 18px 0 #999;
}
.articles{
    margin-top: 30px;
    padding: 10px;
}
p {
    margin-top: 10px;
    line-height: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer{
    font-size: 0.8rem;
    margin:50px;
    text-align: center;
}